In [1]:
import pickle

In [5]:
with open("./menu_taste_dic_final.pickle", "rb") as f:
    data = pickle.load(f)

In [7]:
len(data)

112

1. 컬럼을 새로 만든다
2. 음식이름 in 리뷰있는 것을 새 컬럼에 추가
    - 예외 상황)
        - 리뷰안에 음식 이름이 잘 못되어 있을 경우 => 정규식을 짜야한다.
        - 리뷰안에 음식 이름이 없을 경우 => 일단 버린다 / 데이터양을 보고 정한다 : 따로빼서 식당 메뉴를 넣는다

1. 원하는 형태
    - 메뉴 맛 0,1로 이진 분류되어있는가

In [110]:
import random
import pandas as pd

In [111]:
df= pd.read_csv("./menu_taste_df_final.csv")

In [112]:
df

,menu,PN,spicy,sweet,sour,saulty,mild,normal,for_vegitarian,for_mania,for_starter
0,aehobakbokkeum,58,27,5,3,5,4,23,21,81,49
1,albap,203,36,10,27,6,20,50,49,232,185
2,baechukimchi,3261,1742,485,537,330,462,929,1383,5059,3853
3,baekkimchi,335,130,24,54,11,31,23,254,448,337
4,bibimbap,13906,6245,1927,2228,1201,1617,3375,4479,19927,14930
...,...,...,...,...,...,...,...,...,...,...,...
107,yangnyeomgejang,27,30,12,4,7,4,13,13,65,45
108,yeolmukimchi,23,7,0,4,1,3,8,6,37,30
109,yubuchobap,1150,114,111,229,29,137,163,121,1382,1016
110,yukgaejang,839,462,130,107,98,99,270,282,1366,963
111,yukhoe,1784,330,165,358,53,200,316,295,2184,1604

In [113]:
df["per"] = None

In [114]:
df

,menu,PN,spicy,sweet,sour,saulty,mild,normal,for_vegitarian,for_mania,for_starter,per
0,aehobakbokkeum,58,27,5,3,5,4,23,21,81,49,None
1,albap,203,36,10,27,6,20,50,49,232,185,None
2,baechukimchi,3261,1742,485,537,330,462,929,1383,5059,3853,None
3,baekkimchi,335,130,24,54,11,31,23,254,448,337,None
4,bibimbap,13906,6245,1927,2228,1201,1617,3375,4479,19927,14930,None
...,...,...,...,...,...,...,...,...,...,...,...,...
107,yangnyeomgejang,27,30,12,4,7,4,13,13,65,45,None
108,yeolmukimchi,23,7,0,4,1,3,8,6,37,30,None
109,yubuchobap,1150,114,111,229,29,137,163,121,1382,1016,None
110,yukgaejang,839,462,130,107,98,99,270,282,1366,963,None
111,yukhoe,1784,330,165,358,53,200,316,295,2184,1604,None

In [115]:
tmp = df[["spicy", "sweet", "sour", "saulty", "mild", "normal", "for_vegitarian", "for_mania", "for_starter"]]

In [116]:
tmp

,spicy,sweet,sour,saulty,mild,normal,for_vegitarian,for_mania,for_starter
0,27,5,3,5,4,23,21,81,49
1,36,10,27,6,20,50,49,232,185
2,1742,485,537,330,462,929,1383,5059,3853
3,130,24,54,11,31,23,254,448,337
4,6245,1927,2228,1201,1617,3375,4479,19927,14930
...,...,...,...,...,...,...,...,...,...
107,30,12,4,7,4,13,13,65,45
108,7,0,4,1,3,8,6,37,30
109,114,111,229,29,137,163,121,1382,1016
110,462,130,107,98,99,270,282,1366,963
111,330,165,358,53,200,316,295,2184,1604

In [117]:
sum(tmp.iloc[0])

218

In [118]:
27/sum(tmp.iloc[0]) * 100

12.385321100917432

In [119]:
for i in range(len(df)):
    df["per"][i] = sum(tmp.iloc[i])

C:\Users\admin\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [120]:
df

,menu,PN,spicy,sweet,sour,saulty,mild,normal,for_vegitarian,for_mania,for_starter,per
0,aehobakbokkeum,58,27,5,3,5,4,23,21,81,49,218
1,albap,203,36,10,27,6,20,50,49,232,185,615
2,baechukimchi,3261,1742,485,537,330,462,929,1383,5059,3853,14780
3,baekkimchi,335,130,24,54,11,31,23,254,448,337,1312
4,bibimbap,13906,6245,1927,2228,1201,1617,3375,4479,19927,14930,55929
...,...,...,...,...,...,...,...,...,...,...,...,...
107,yangnyeomgejang,27,30,12,4,7,4,13,13,65,45,193
108,yeolmukimchi,23,7,0,4,1,3,8,6,37,30,96
109,yubuchobap,1150,114,111,229,29,137,163,121,1382,1016,3302
110,yukgaejang,839,462,130,107,98,99,270,282,1366,963,3777
111,yukhoe,1784,330,165,358,53,200,316,295,2184,1604,5505

In [121]:
taste = ["spicy","sweet","sour","saulty","mild","normal","for_vegitarian","for_mania","for_starter"]

In [122]:
for i,j in enumerate(df["per"]):
    for k in taste:
        df[k].iloc[i] = round(df[k][i]/j * 100, 2)

C:\Users\admin\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [126]:
df.to_csv("./taste_per.csv", index=False)