In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("./data/yelp_trip/yelp_final_add_taste.csv")

In [89]:
df["taste"].sample(20)

38134                        notyet
22812                        notyet
42428                        notyet
61646                        notyet
11269                        notyet
30976                        notyet
51488                        notyet
34479                        notyet
51450                        notyet
58416                        notyet
50562                        notyet
27281                        notyet
48131                        notyet
28412                         spicy
35017    ['spicy', 'sweet', 'sour']
60939    ['spicy', 'sweet', 'sour']
55741                         spicy
70918                        notyet
62379                        notyet
53468                        notyet
Name: taste, dtype: object

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77402 entries, 0 to 77401
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    77402 non-null  int64
 1   Unnamed: 0.1  77402 non-null  int64
 2   business_id   77402 non-null  object
 3   date          77402 non-null  object
 4   review_id     77402 non-null  object
 5   stars         77402 non-null  object
 6   user_id       77402 non-null  object
 7   text          77402 non-null  object
 8   categories    77402 non-null  object
 9   city          77402 non-null  object
 10  name          77402 non-null  object
 11  state         77402 non-null  object
 12  taste         77402 non-null  object
dtypes: int64(2), object(11)
memory usage: 7.7+ MB

In [50]:
df

,Unnamed: 0,Unnamed: 0.1,business_id,date,review_id,stars,user_id,text,categories,city,name,state,taste
0,0,67,2AS4HuJJHTBG6R8D9ldrdA,2018-02-24 02:52:41,7S5VnFLaAMpXtMByAqzIAg,5.0,KgQnRvsPSrJJTOCp-reYZA,We have been here three times now and have lov...,"Korean, Restaurants",Cuyahoga Falls,Seoul Garden Korean Restaurant,OH,spicy
1,1,68,2AS4HuJJHTBG6R8D9ldrdA,2017-06-17 23:39:45,s55cQLpbeAbwkZXCL1KeEQ,5.0,1goJa-4OKwc--vlISRm54g,Seoul Garden was excellent. We moved to this ...,"Korean, Restaurants",Cuyahoga Falls,Seoul Garden Korean Restaurant,OH,notyet
2,2,69,2AS4HuJJHTBG6R8D9ldrdA,2018-03-16 07:51:57,rb-c59Bbr8zy3BOcIuVIjA,4.0,6agrhhelmT9DLUfx4EeZVA,I like this place a lot. One of the best Korea...,"Korean, Restaurants",Cuyahoga Falls,Seoul Garden Korean Restaurant,OH,notyet
3,3,70,2AS4HuJJHTBG6R8D9ldrdA,2014-12-01 00:15:41,h9OWeU5tx2H9UCh1_ErhHg,5.0,AvaeN3hgxdytAEMlNud-FQ,Korean Barbecue at its finest. The outside doe...,"Korean, Restaurants",Cuyahoga Falls,Seoul Garden Korean Restaurant,OH,notyet
4,4,71,2AS4HuJJHTBG6R8D9ldrdA,2015-08-21 01:37:51,WmnupTn8LgKaDCUsRXHIDQ,2.0,wML8YiFzB1JuCfyhPptiSg,Food was ok. The food looks good in pictures b...,"Korean, Restaurants",Cuyahoga Falls,Seoul Garden Korean Restaurant,OH,spicy
...,...,...,...,...,...,...,...,...,...,...,...,...,...
77397,77397,129725,59OgPGGzKFYqwSG_U06kuA,2019-12-10 02:10:44,rvRgvUDVUcOwtrq09ELBMQ,5.0,BJnwgclUI15lNRaf1s9GOg,A hole in the wall location. Wasn't expecting ...,"Restaurants, Korean",Chandler,Chodang,AZ,notyet
77398,77398,129726,Mglgm8rfJxZ0LLgN23YGOg,2014-04-22 02:53:17,IS5p7043wm0RSaoRaYT7SA,5.0,U5YQX_vMl_xQy8EQDqlNQQ,I was torn whether or not to give this place 4...,"Korean, Food, Shopping, Restaurants",Mississauga,Kimchi Korea,ON,notyet
77399,77399,129727,Mglgm8rfJxZ0LLgN23YGOg,2013-03-05 21:15:24,Cox8HkY0r4DZVqrOFXbxCw,5.0,ci8R1Bg83hNwXPyHAEzAFA,A very interesting little place for kimchi lov...,"Korean, Food, Shopping, Restaurants",Mississauga,Kimchi Korea,ON,notyet
77400,77400,129728,Mglgm8rfJxZ0LLgN23YGOg,2014-06-22 17:57:16,Mkn0EEIeoe2-ocIl1JAfKA,3.0,CxDOIDnH8gp9KXzpBHJYXw,Maybe I have a hgh expectation with Kimchi Kor...,"Korean, Food, Shopping, Restaurants",Mississauga,Kimchi Korea,ON,spicy
77401,77401,129729,Mglgm8rfJxZ0LLgN23YGOg,2015-03-28 14:19:47,IDCIg8PF5NSW67DC0CksDw,5.0,MF-4u5xl0MoAvSdLf6tK7w,I love getting my kimchi here because rather t...,"Korean, Food, Shopping, Restaurants",Mississauga,Kimchi Korea,ON,notyet